In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load the dataset
df = pd.read_csv(r"C:\Users\ASUS\Downloads\Details.csv")
print(df.shape)

(1500, 7)

In [6]:
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
 6   PaymentMode   1500 non-null   object
dtypes: int64(3), object(4)
memory usage: 82.2+ KB

In [8]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)

In [9]:
df.isnull().sum()

order_id        0
amount          0
profit          0
quantity        0
category        0
sub-category    0
paymentmode     0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
if "quantity" in df.columns:
    df = df[df["quantity"] > 0]

if "sales" in df.columns:
    df = df[df["sales"] >= 0]

In [12]:
df.isnull().sum()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1500 non-null   object
 1   amount        1500 non-null   int64
 2   profit        1500 non-null   int64
 3   quantity      1500 non-null   int64
 4   category      1500 non-null   object
 5   sub-category  1500 non-null   object
 6   paymentmode   1500 non-null   object
dtypes: int64(3), object(4)
memory usage: 82.2+ KB