In [1]:
import pandas as pd
import numpy as np

In [5]:
# Load dataset
df = pd.read_csv(r"C:\Users\ASUS\Downloads\Orders.csv")
print(df.shape)

(500, 5)

In [7]:
df.head(100)

   Order ID  Order Date CustomerName           State     City
0   B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1   B-25993  03-02-2018       Madhav           Delhi    Delhi
2   B-25973  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3   B-25923  27-12-2018        Gopal     Maharashtra   Mumbai
4   B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore
..      ...         ...          ...             ...      ...
95  B-25675  31-05-2018       Shreya  Madhya Pradesh   Bhopal
96  B-25650  06-05-2018       Chirag     Maharashtra   Mumbai
97  B-25986  31-01-2018       Shweta       Rajasthan  Udaipur
98  B-25850  05-11-2018     Abhishek             Goa      Goa
99  B-25898  07-12-2018     Abhishek       Rajasthan  Udaipur

[100 rows x 5 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Order Date    500 non-null    object
 2   CustomerName  500 non-null    object
 3   State         500 non-null    object
 4   City          500 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB

In [9]:
df.columns

Index(['Order ID', 'Order Date', 'CustomerName', 'State', 'City'], dtype='object')

In [10]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [11]:
df.isnull().sum()

order_id        0
order_date      0
customername    0
state           0
city            0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.isnull().sum()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      500 non-null    object
 1   order_date    500 non-null    object
 2   customername  500 non-null    object
 3   state         500 non-null    object
 4   city          500 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB